In [8]:
#task 3.1
num=["bharath","arun","vignesh"]
num.reverse()
print(num)

['vignesh', 'arun', 'bharath']

In [10]:
num=["bharath","arun","vignesh","arun","vignesh","Vignesh"]
num.count("arun")

2

In [21]:
num.count("arun")

0

In [23]:
num_1=["bharath","arun","vignesh","arun","vignesh","Vignesh"]
num_1.remove("Vignesh")
print(num_1)

['bharath', 'arun', 'vignesh', 'arun', 'vignesh']

In [25]:
num_1.sort()
print(num_1)

['arun', 'arun', 'bharath', 'vignesh', 'vignesh']

In [30]:
num_1.clear()
print(num_1)

[]

In [32]:
#task 3.2
list=[1,2,3,4,5,6,7,8,9,10]
list[5:9]

[6, 7, 8, 9]

In [36]:
list2=[1,2,[3,4,[5,6],7,8],9,10]
list2

[1, 2, [3, 4, [5, 6], 7, 8], 9, 10]

In [37]:
list2[2]

[3, 4, [5, 6], 7, 8]

In [49]:
list2[2][2][0]=6.5
list2

[1, 2, [3, 4, [6.5, 6], 7, 8], 9, 10]

In [52]:
list2[2][2]

[6.5, 6]

In [55]:
list2.insert(3,6.5)
list2

[1, 2, [3, 4, [6.5, 6], 7, 8], 6.5, 9, 10]

In [56]:
list2[2][2].insert(2,6.55)
list2

[1, 2, [3, 4, [6.5, 6, 6.55], 7, 8], 6.5, 9, 10]

In [57]:
#adding the number in the nested list
l1=[10,20,[30,40,[50,60],80],90,100]
l1[2][2].insert(2,70)
l1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [58]:
l1[2][2][2]

70

In [60]:
l2=[1,2,[3,4,5,6],9]                  #add sub list afer 6
l2[2].insert(4,[7,8])
l2

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [62]:

for i in list:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
dict={
        "feb24 batch":{
            "students":{
                "name":"bharath M",
                "marks":{
                    "maths":80,
                    "python":70
                }
            }
        }
    }
dict["feb24 batch"]["students"]["name"]

'bharath M'

In [3]:
dict["feb24 batch"]["students"]["marks"]["maths"]

80

In [4]:
dict["feb24 batch"]["students"]["name"]="mike"
dict

{'feb24 batch': {'students': {'name': 'mike',
   'marks': {'maths': 80, 'python': 70}}}}

In [8]:
dict["feb24 batch"]["students"]["marks"]["DL"]=70
dict["feb24 batch"]["students"]["marks"]["ML"]=80

In [9]:
dict["feb24 batch"]["students"]["marks"]["ML"]

80

In [12]:
#task 6 add and remove values in tuples 
tup1=(1,2,3,4,5,6,7,8,9,10)
x=list(tup1)
x.append(101)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 101]

In [13]:
y=tuple(x)
y

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 101)

In [15]:
tup1=(1,2,3,4,5,6,7,8,9,10)
a=list(tup1)
a.remove(10)
b=tuple(a)
b

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
x={"banana","apple","mango"}
y={"apple","gauva","orange"}
z=y.symmetric_difference(x)#shows other than similar fruits in both x and y 
                           ### But sir i need to know the logic behind the sequence execution
                           #{'banana', 'gauva', 'orange', 'mango'}<-how does it execute starting from banana to mango

                                                                        
w=y.difference(x)#different fruits available in y compared to x
print(z)
print(w)

{'banana', 'gauva', 'orange', 'mango'}
{'gauva', 'orange'}