In [ ]:
count=1
while(count<=11):
    if(count==5):
        print(count)
        break
    else:
        print(count)
        count+=1

In [4]:
#print only even no
a=1
while(a<=10):
    if(a%2!=0):
        a+=1
    else:
        print(a)
        a+=1

2
4
6
8
10

In [5]:
a=1
while(a<=10):
    if(a%2==0):
        print(a)
        a+=1
    else:
        a+=1

2
4
6
8
10

In [7]:
for i in range(10):
    if(i==7):
        break
    print(i)

0
1
2
3
4
5
6

In [9]:
for i in range(10):
    if(i==4 or i==6 or i==8):
        continue
    print(i)

0
1
2
3
5
7
9

In [12]:
#task 10 usage of continue function
c=0
while(c<=11):
    c+=1
    if(c%2!=0): # in here the condition of the if statement is true the continue keyword jumps back to the start of the while loop
                #once the if statement is false then only the print statement gets executed and it goes back to the while loop 
        continue
    print(c)

2
4
6
8
10
12

In [13]:
i=int(input("enter the marks:"))
if(i>50):
    print("the student is passed in the subject")
else:
    pass 
    #execute the else part without any statements by using pass keyword

enter the marks:20

In [15]:
#print num from 10 to 1 using while loop
x=10
while(x>=1):
    print(x)
    x-=1

10
9
8
7
6
5
4
3
2
1

In [18]:
l1=[1,2,3,4,5,6,7,8,9]
l2=(100,200,300,400,500,600,700,800,900)
for i in l1:
    print(i)

1
2
3
4
5
6
7
8
9

In [19]:
for i in l2:
    print(i)

100
200
300
400
500
600
700
800
900

In [30]:
d1={"name":"bharath",
   "DOB":"12.6.1998",
   "place":"vellore"}
for i in d1.items():
    print(i)

('name', 'bharath')
('DOB', '12.6.1998')
('place', 'vellore')

In [27]:
print(d1[i])

vellore

In [31]:
d1

{'name': 'bharath', 'DOB': '12.6.1998', 'place': 'vellore'}